<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membuat Tabel</title>
  </head>
  <body>
    <table border="1" cellpadding="5" cellspacing="0" width="500">
      <tr>
        <th>Nama</th>
        <th>Usia</th>
      </tr>
      <tr>
        <td>Ali</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Fahmianto</td>
        <td>27</td>
      </tr>
    </table>
    <br />
    <!-- Tabel 1 -->
    <table border="1" cellpadding="5" cellspacing="0" width="500">
      <tr>
        <th>Benua</th>
        <th>Negara</th>
      </tr>
      <tr>
        <td rowspan="4">ASIA</td>
        <td>Arab Saudi</td>
      </tr>
      <tr>
        <td>India</td>
      </tr>
      <tr>
        <td>Indonesia</td>
      </tr>
      <tr>
        <td>Singapura</td>
      </tr>
      <tr>
        <td rowspan="4">EROPA</td>
        <td>Belanda</td>
      </tr>
      <tr>
        <td>Italia</td>
      </tr>
      <tr>
        <td>Inggris</td>
      </tr>
      <tr>
        <td>Jerman</td>
      </tr>
    </table>
    <br />
    <!-- Tabel 2 -->
    <table border="1" cellpadding="5" cellspacing="0" width="500">
      <tr>
        <th>Benua</th>
        <th colspan="2">Negara</th>
        <th colspan="2">ASIA</th>
      </tr>
      <tr>
        <td>Negara</td>
        <td>Belanda</td>
        <td>Indonesia</td>
        <td>Italia</td>
        <td>India</td>
      </tr>
    </table>
    <br />
    <!-- Tabel 3 -->
    <table border="1" cellpadding="5" cellspacing="0" width="500">
      <tr>
        <td>apel</td>
        <td rowspan="2">jeruk</td>
        <td>mangga</td>
      </tr>
      <tr>
        <td>pisang</td>
        <td>nanas</td>
      </tr>
    </table>
  </body>
</html>
