* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    "logo headerr headerr headerr"
    "nav nav nav search"
    "content content content sidebar"
    "footer footer footer footer";
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  width: 60vw;
  height: 70vh;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.headerr {
  grid-area: headerr;
  background-color: #ebb4b9;
  padding: 40px;
  text-align: center;
}

.logo {
  grid-area: logo;
  background-color: #7a7373;
  padding: 40px;
  text-align: center;
}

.navigation {
  grid-area: nav;
  background-color: #86f7a0;
  padding: 10px;
  text-align: center;
}

.search {
  grid-area: search;
  background-color: #ca89ff;
  padding: 10px;
  text-align: center;
}

.content {
  grid-area: content;
  background-color: #c2777e;
  padding: 20px;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fae191;
  padding: 20px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #44ff70;
  padding: 10px;
  text-align: center;
}